/* Card Customzation SCSS */

.card {
  border-radius: 24px;
  overflow: hidden;

  .card-body {
    padding: 1.75rem;
  }

  &.image-below-card {
    margin-bottom: 40px;
    img.card-img {
      margin-bottom: -40px;
    }
  }
  .title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
  }
}
.card-img-overlay {
  padding: 32px;
}
.card-ish {
  padding: 2.5rem 3.2rem;
  border-radius: 24px;
}
.intro-card .card-img-overlay {
  padding: 80px;
}

.card-ish {
  padding: 3rem 3.5rem;
}
.feature {
  border-radius: 150px 0px 0px 0px;
  padding: 4rem 5.5rem 0px;
  position: relative;

  &:after {
    display: block;
    content: " ";
    height: 100%;
    width: 1000px;
    position: absolute;
    right: -1000px;
    top: 0px;
    background-color: $revive-blue;
  }
}

.overflowy {
  overflow: visible;
}
.taller-1 .card-img {
  margin-top: 1rem;
}
.taller-2 .card-img {
  margin-top: 2rem;
}
.taller-3 .card-img {
  margin-top: 3rem;
}

@include media-breakpoint-down(md) {
  .card-img-overlay {
    padding: 16px;
  }
  .card.image-below-card img.card-img {
    margin-bottom: -20px;
  }
  .taller-mobile-1 .card-img {
    margin-top: 1rem;
  }
  .taller-mobile-2 .card-img {
    margin-top: 2rem;
  }
  .taller-mobile-3 .card-img {
    margin-top: 3rem;
  }
  .taller-mobile-4 .card-img {
    margin-top: 4rem;
  }
  .taller-mobile-5 .card-img {
    margin-top: 5rem;
  }
  .taller-mobile-6 .card-img {
    margin-top: 6rem;
  }
  .intro-card .card-img-overlay {
    padding: 25px;
  }
  .card-ish {
    padding: 2rem 2.5rem;
  }
}

@include media-breakpoint-down(md) {
  .card-ish {
    padding: 1.5rem 1.85rem;
  }
}

@include media-breakpoint-down(sm) {
  .floaty-img-right {
    position: relative;
    img {
      max-width: 44%;
      right: -50%;
      position: relative;
      top: -20px;
    }
  }
}
