/* Card Customzation SCSS */

.card {
  border-radius: 24px;

  .card-body {
    padding: 1.75rem;
  }

  .text-link {
    font-weight: bold;
  }

  &.image-below-card {
    margin-bottom: 40px;
    img.card-img {
      margin-bottom: -40px;
    }
  }
  .subtitle-caps {
    font-family: Boston;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
  }
  .title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
  }
}
.card-img-overlay {
  padding: 32px;
}
.card-ish {
  padding: 2.5rem 3.2rem;
  border-radius: 24px;
}
.intro-card .card-img-overlay {
  padding: 80px;
}

.card-ish {
  padding: 3rem 3.5rem;
}
.feature {
  border-radius: 150px 0px 0px 0px;
  padding: 4rem 5.5rem;
  position: relative;

  &:after {
    display: block;
    content: " ";
    height: 100%;
    width: 1000px;
    position: absolute;
    right: -1000px;
    top: 0px;
    background-color: $revive-blue;
  }
}
