/* Header SCSS */
header {
  background-color: $revive-light-blue;

  .navbar-dark .navbar-nav .nav-link {
    color: $font-grey;

    &:hover {
      color: $white;
    }

    &.active-link {
      color: $white;
    }
  }

  .navbar-brand:hover {
    filter: invert(0.8);

    transition: all ease-in-out 0.2s;
  }
}

.welcome-banner {
  background-color: #FDC900;
  margin-left: -30px;
  margin-right: -25px;
  margin-top: -45px;
  margin-bottom: 25px;
  padding: 20px;
  padding-top: 30px;
  text-align: center;
  font-weight: 900;

  @include media-breakpoint-up(md) {
    margin: -25px;
    margin-bottom: 25px;
    margin-top: -50px;
  }

  @include media-breakpoint-up(lg) {
    margin-left: -45px;
  }
}