/* Sidebar SCSS */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.sidebar {
  background-color: $revive-light-blue;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  .navbar-brand {
    margin-bottom: 80px;
    padding-right: 2rem;
  }
  .nav-item {
    padding: 10px 0px;
    display: block;
    width: 100%;
    text-align: right;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-end;
    display: flex;
  }
  ul.nav {
    flex: 0 0 auto;
  }
  a.nav-link {
    color: $revive-black;
    font-size: 22px;
    padding: 0.5rem 3rem 0.5rem 0;
    border-right: 8px solid transparent;
    font-family: "Boston-Semibold", helvetica, sans-serif;

    img {
      filter: brightness(0%);
      margin-right: 15px;
    }
    span {
      font-size: 16px;
    }
    .link-desc {
      font-size: 14px;
      font-style: italic;
      margin-bottom: 0px;
      margin-top: -5px;
    }
  }
}
a.nav-link.active-link {
  color: $revive-blue;
  border-right: 8px solid $revive-blue;
  font-family: "Boston-Bold", helvetica, sans-serif;

  img {
    filter: brightness(100%);
  }
  // &:after {
  //   display: block;
  //   content: " ";
  //   background-image: url("/active-indicator.svg");
  //   background-size: 28px 28px;
  //   height: 28px;
  //   width: 28px;
  // }
}
.navbar-dark .navbar-nav .nav-link {
  color: $font-grey;

  &:hover {
    color: $white;
  }

  &.active-link {
    color: $white;
  }
}

@include media-breakpoint-down(md) {
  .sidebar a.nav-link {
    font-size: 17px;
    padding: 0.5rem 2rem 0.5rem 0;
  }
  .navbar-brand {
    margin: 10px;
  }
}

@include media-breakpoint-down(sm) {
  .sidebar {
    height: fit-content;
  }
  .sidebar .navbar {
    align-items: center;
  }
  .sidebar .navbar-brand {
    margin-bottom: 10px;
  }
}
