@font-face {
  font-family: "Karla";
  src: url("Karla-Regular.eot");
  src: url("Karla-Regular.eot?#iefix") format("embedded-opentype"),
    url("Karla-Regular.woff2") format("woff2"),
    url("Karla-Regular.woff") format("woff"),
    url("Karla-Regular.svg#Karla-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Boston-Bold";
  src: url("BostonBold.eot");
  src: url("BostonBold.eot") format("embedded-opentype"),
    url("BostonBold.woff2") format("woff2"),
    url("BostonBold.woff") format("woff"),
    url("BostonBold.ttf") format("truetype"),
    url("BostonBold.svg#BostonBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Boston-Semibold";
  src: url("BostonSemiBold.eot");
  src: url("BostonSemiBold.eot") format("embedded-opentype"),
    url("BostonSemiBold.woff2") format("woff2"),
    url("BostonSemiBold.woff") format("woff"),
    url("BostonSemiBold.ttf") format("truetype"),
    url("BostonSemiBold.svg#BostonSemiBold") format("svg");
}
