/* Globals */
@import "/static/fonts.css";

html,
body {
  position: relative;
  min-height: 100vh;
  font-family: "Karla", helvetica, sans-serif;
  overflow-x: hidden !important;
  background-color: $white;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  -webkit-text-stroke: 0.025em rgba(51, 51, 51, 0.05);
}
h1 {
  font-family: "Boston-Bold", helvetica, sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Boston-Semibold", helvetica, sans-serif;
  font-weight: 600;
}
.subtitle-caps {
  font-family: "Boston-Semibold";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
img {
  max-width: 100%;
}

a {
  color: $revive-blue;
}

a.text-link {
  font-weight: bold;
  display: block;
}

.flex-1 {
  flex: 1;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  margin: auto;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.8em;
  letter-spacing: 0.5px;
}
p.big {
  font-size: 1.25rem;
}

.extra-large {
  font-size: 3.5rem;
}
.step {
  padding: 12px;
  background-color: #44797b;
  border-radius: 100px;
  color: #fff;
  width: 48px;
  height: 48px;
  display: block;
  text-align: center;
}

img {
  user-select: none;
}

::selection {
  color: white;

  background: black;
}

.revive-blue-bg {
  background-color: $revive-blue;
}
.revive-light-blue-bg {
  background-color: $revive-light-blue;
}
.mw-250 {
  max-width: 250px;
}

.mb-6 {
  margin-bottom: 4.5rem !important;
}
.mb-7 {
  margin-bottom: 6rem !important;
}

.mb-8 {
  margin-bottom: 7.5rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}
.mw-300 {
  max-width: 300px;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media only screen and (min-width: 1900px) {
}
@include media-breakpoint-down(md) {
  p {
    font-size: 0.98rem;
  }
}

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@include media-breakpoint-down(md) {
  .mw-250 {
    max-width: 100%;
  }
  .flex-row-md {
    flex-direction: row !important;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  .main-content {
    padding-top: 0px;
  }
}
@include media-breakpoint-down(sm) {
  .flex-row-sm {
    flex-direction: row !important;
  }
  p {
    font-size: 0.98rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  .main-content {
    padding-top: 80px;
  }
  .d-sm-none {
    display: none !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-block-only {
    display: block !important;
  }
  .float-sm-none-only {
    float: none !important;
  }
}
