@font-face {
  font-family: "Karla";
  src: url("/fonts/Karla-Regular.ttf");
}

@font-face {
  font-family: Boston-Bold;
  font-weight: 800;
  font-style: normal;
  src: url("BostonBold.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "Boston-Semibold";
  src: url("../fonts/BostonSemibold.otf");
}
