/* Colors */

$font-grey: #cecece;

$revive-black: #000000;
$revive-light-blue: #e8f7f6;
$revive-blue: #44797b;

$transparent: rgba(0, 0, 0, 0);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
